<h2>Academic Projects</h2>

<p>
  <%= link_to 'Photo Album', "http://photo-albums.heroku.com/" %><br />
  Light and easy photo album viewer with nice pictures in it. Features paging to facilitate viewing process.
</p>

<p>
  <%= link_to 'iTunes Catalog', itunes_path %><br />
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  some itunes albums and songs
</p>
<p>
  <%= link_to 'Movie info', "http://vm-rottenpotatoes.heroku.com/movies" %><br />
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
</p>

<p>
  <%= link_to 'Ajax Tooltip Content', informer_path %><br />
  Loads content via ajax when hovering over specific words.
</p>

<p>
  <%= link_to 'Booker', booker_path %><br />
  ebook reader with controls
</p>

<p>
  <%= link_to 'Ajax Auto Complete', completer_path %><br />
  Upon typing performs text auto-complete by pulling data via ajax.
</p>

<p>
  <%= link_to 'RSS Reader', newsfeeder_path %><br />
  Loads and displays articles from rss feeds. Performs ajax requests when selecting a feed.
</p>
<p>
  <%= link_to 'Form Validator', validator_path %><br />
  Performs validation as user fills out the form. Verifies different types of input data.
</p>

<p>
  <%= link_to 'Stock Monitor', stocks_path %><br />
  Provides information about various live stock indexes. The indexes are retrieved via ajax.
</p>

