<h2>JS/Ajax Projects</h2>
<p>
  <%= link_to 'Informer', informer_path %><br />
  shows some data if underscored word was clicked
</p>

<p>
  <%= link_to 'Booker', booker_path %><br />
  ebook reader with controls
</p>

<p>
  <%= link_to 'Completer', completer_path %><br />
  completes some words and google typed word if button is clicked
</p>

<p>
  <%= link_to 'Itunes', itunes_path %><br />
  some itunes albums and songs
</p>

<p>
  <%= link_to 'News feeder', newsfeeder_path %><br />
  online rss feed
</p>
<p>
  <%= link_to 'Validator', validator_path %><br />
  Validates fields instantly
</p>

<p>
  <%= link_to 'Stocks Picker', stocks_path %><br />
  Shows some online stock data
</p>