<h2>JS/Ajax Projects</h2>
<%= link_to 'Informer', 'informer.html' %><br />
<%= link_to 'Booker', 'booker_client.html' %><br />
<%= link_to 'Completer', 'completer_client.html' %><br />
<%= link_to 'Itunes', 'itunes.html' %><br />
<%= link_to 'News feeder', 'newsfeeder_client.html' %><br />
<%= link_to 'Validator', 'validator_client.html' %><br />